<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>845031662262-jcpoi9tdcjnu0aa4ak7hrqomgi29uiqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845031662262-jcpoi9tdcjnu0aa4ak7hrqomgi29uiqg</string>
	<key>API_KEY</key>
	<string>AIzaSyAqf4Y6USd4dwBm3wQCgXUeV4SaKoyPRdU</string>
	<key>GCM_SENDER_ID</key>
	<string>845031662262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>glazonoidautomates.Glazonoid</string>
	<key>PROJECT_ID</key>
	<string>testingglazonoid</string>
	<key>STORAGE_BUCKET</key>
	<string>testingglazonoid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845031662262:ios:40907a7e49cd614b5cfc17</string>
	<key>DATABASE_URL</key>
	<string>https://testingglazonoid.firebaseio.com</string>
</dict>
</plist>